{{> header }}
<br>
{{> nav }}
<br>

<h1>Show single</h1>
<br>

{{customer.name}}
<br>
{{customer._id}}
<br>

{{#unless customer.status }}
    <form action="/activate" method="POST" >
        <input type="hidden" name="account_num" value="{{customer._id}}">

        <input type="submit" value="Activate">
    </form>
{{/unless}}

<br>
<h2>Balance : {{customer.balance}}</h2>

<br>
<h2>Add Money</h2>

<form action="/modify-balance" method="POST" >
    <input type="hidden" name="account_num" value="{{customer._id}}">
    <input type="number" name="money" placeholder="">

    <input type="submit">
</form>

<br>

<h2>Withdraw Money</h2>

<form action="/withdraw" method="POST" >
    <input type="hidden" name="account_num" value="{{customer._id}}">
    <input type="hidden" name="balance" value="{{customer.balance}}">
    <input type="number" name="money" placeholder="Current balance: {{customer.balance}}">

    <input type="submit">
</form>



<h2>Modifiy user</h2>

<a href="/edit/{{customer._id}}">Edit User</a>

<br>


{{> footer }}


